.container {
    justify-content: center;
    margin: 5rem;


}

.inner-container {
    display: flex;
    flex-direction: row;
}

.submit-reset-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}